name: "Build & Upload Resource Pack"

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v4
        with:
          packsquash_version: latest
          options: packsquash.toml

      - name: Publish Packs
        uses: Kir-Antipov/mc-publish@v3.3
        with:
            files: "build/Spittin' Bars.zip"
        
            name: "${{ github.event.release.name }}"
            version: "${{ github.event.release.tag_name }}"
            version-type: ${{ github.event.release.prerelease && 'beta' || 'release' }}
            changelog: "${{ github.event.release.body }}"

            game-versions: |
              >=1.12.2

            github-tag: "${{ github.event.release.tag_name }}"
            github-token: "${{ secrets.GITHUB_TOKEN }}"

            modrinth-id: "${{ vars.MODRINTH_ID }}"
            modrinth-token: "${{ secrets.MODRINTH_TOKEN }}"
            modrinth-version-type: ${{ github.event.release.prerelease && 'beta' || 'release' }}
